.container{
    margin-bottom: 60px;
    
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#ff136f;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding:9px 25px;
    cursor: pointer;
}

.cat1{
    background-color:orange;
    border-radius: 10px;
}

.cat2{
    background-color: rgb(161, 38, 161);
    border-radius: 10px;
}

.cat3{
    background-color:  rgb(247, 56, 43);
    border-radius: 10px;
}

.cat1, .cat2, .cat3{
    padding:10px 30px;
}

.categories h1{
    color:#fff;
}

.categories img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}


.card-footer{
    background: white;
    border-top: none;
}



#Subscribe{
    height: 300px;
}

#Subscribe h6{
    color: #777;
}

.inp{
    margin-bottom: 20px;
}


